<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hello Admin <br>

    The uploaded statement contains tracks with labels that are not present in the Master DRMSYS. Kindly <strong> <a download="{{err_data}}" href="{{err_data}}">DOWNLOAD</a> </strong> the export file to find them. <br>

    NB: Update the MasterDRMSYS with these data and reupload statement <br> 

    
        </p>
</body>
</html>
