<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hello Admin <br>
        The file {{file_name}} has been successfully processed ! <br>
    
        <a  href="{{track_download}}" download="track_output">Download Output Track </a> <br>
        <a href="{{album_download}}" download="album_output">Download Output Album </a> <br>
        <a href="{{account_download}}" download="account_output">Download Output Account </a> <br>
        
    
        </p>
</body>
</html>
