{% load static %}

<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="{% static 'img/fav.png' %}"> 
	<!-- Author Meta -->
	<meta name="author" content="olusola albert">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Trackeet v.1.1</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:400,600|Roboto:400,400i,500" rel="stylesheet">
	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="{% static 'css/linearicons.css' %}"> 
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"> 
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> 
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}"> 
	<link rel="stylesheet" href="{% static 'css/nice-select.css' %}"> 
	<link rel="stylesheet" href="{% static 'css/hexagons.min.css' %}"> 
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}"> 
	<link rel="stylesheet" href="{% static 'css/main.css' %}"> 
</head>

<body>

    <header id="header">
		<div class="container main-menu">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
					<a href="#"><img src="{% static 'img/logo.png' %}" alt="" title="" /></a>
				</div>
				
			</div>
		</div>
	</header> 

	<!-- <section class="home-banner-area">
		<div class="container">
			<div class="row fullscreen d-flex align-items-center justify-content-between">
				<div class="home-banner-content col-lg-6 col-md-6">
					<h1>
                        The future of music is data 
					</h1>
					<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed rerum, ab consequatur eum perspiciatis debitis commodi omnis, aliquam harum recusandae eos illo explicabo, officia doloremque. Tempora maxime deleniti omnis facilis.</p>
					<div class="download-button d-flex flex-row justify-content-start">
						
						
					</div>
				</div>
				<div class="banner-img col-lg-4 col-md-6">
					<img class="img-fluid" src="{% static 'img/banner-img.png' %}" alt="">
				</div> 
			</div>
		</div>
	</section> -->
	

	<section class="feature-area">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-6">
					<div class="section-title text-center">
						<h2>Welcome back Admin </h2>
						<p>What would you like to explore ?
                        
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				
				<div class="col-lg-4 col-md-6">
					
					<div class="single-feature">
						<a href="{% url 'core:dashboard' %}" class="title">
							<br>
							<h3>Metadata & Statments   </h3>
						</a>
						<p>
							Usage of the Internet is becoming more common due to rapid advancement of technology and power.
						</p>
					</div>
				
				</div>
				
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<a href="{% url 'tracker:reload-data' %}" class="title">
                            <br>
							<h3>Youtube Data Tracker  </h3>
						</a>
						<p>
							Usage of the Internet is becoming more common due to rapid advancement of technology and power.
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<a href="#" class="title">
                            <br>
                            
							<h3>Youtube Reporting System </h3>
						</a>
						<p>
							Usage of the Internet is becoming more common due to rapid advancement of technology and power.
						</p>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End feature Area -->

    <!-- <footer class="footer-area">
        <div class="container">
            <div class="footer-bottom row align-items-center">
                <p class="footer-text m-0 col-lg-6 col-md-12">
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |Pipminds
                  </p>
            </div>
        </div>
    </footer> -->
	

	<!-- End Footer Area -->

	<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous"></script>
	<script src="{% static 'js/tilt.jquery.min.js' %}"></script>
	<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

	<script src="{% static 'js/easing.min.js' %}"></script>
	<script src="{% static 'js/hoverIntent.js' %}"></script>
	<script src="{% static 'js/superfish.min.js' %}"></script>
	<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/owl-carousel-thumb.min.js' %}"></script>
	<script src="{% static 'js/hexagons.min.js' %}"></script>
	<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
	<script src="{%  static 'js/waypoints.min.js' %}"></script>

	<script src="{% static 'js/main.js' %}"></script>
</body>

</html>