{% extends 'core/base.html' %}
{% load static %}

{% block extra_head %}
<link href="{% static 'vendor/dropzone.css' %}" rel="stylesheet"> 
<link href="{% static 'css/date_picker.css' %}" rel="stylesheet"> 
{% endblock %}
{% block content %}
<div class="content-wrapper">
    {% include "core/messages.html" %}
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Tracks</li>
      </ol>
		
	  <div class="card mb-3 for_search" >
		<div class="card-header">
			<i class="fa fa-table"></i> Search Track Record Here 
		  </div>

		  <div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
					<thead>
						<tr>
							<th> <input type="text"  id="display_upc" onkeyup="get_track(this.id);" > <br>
								Display UPC</th>
							<th>  Volumne No </th>
							<th>  Track No </th> 
							<th>  Hidden Track  </th>
							<th><input type="text" name="" id="title" onkeyup="get_track(this.id);"> <br> Title  </th>
							<th>  Song Version </th>
		
							<th> <input type="text" name="" id="genre" onkeyup="get_track(this.id);"> <br> Genre </th>
							<th> <input type="text" name="" id="isrc" onkeyup="get_track(this.id);"> <br> ISRC </th>
							<th>  Track Duration </th> 
							<th>  Preview Clip Start Time </th>
							<th>  Preview Clip Duration  </th>
							<th> <input type="text" name="" id="p_line" onkeyup="get_track(this.id);"> <br> P LINE </th>
		
							<th> <input type="text" name="" id="recording_artist" onkeyup="get_track(this.id);"> <br> Recording Artist </th>
							<th> <input type="text" name="" id="artist" onkeyup="get_track(this.id);"> <br> Artist </th>
							<th> <input type="text" name="" id="release_name" onkeyup="get_track(this.id);"> <br> Release Name </th>
							<th>  Parental Advisory  </th>
							<th> <input type="text" name="" id="label_name" onkeyup="get_track(this.id);"> <br> Label Name </th>
							<th> <input type="text" name="" id="producer" onkeyup="get_track(this.id);"> <br> Producer </th>
							<th> <input type="text" name="" id="publisher" onkeyup="get_track(this.id);"> <br> Publisher   </th>
		
							<th> <input type="text" name="" id="writer" onkeyup="get_track(this.id);">  <br> Writer  </th>
							<th> <input type="text" name="" id="arranger" onkeyup="get_track(this.id);"> <br> Arranger  </th>
							<th> <input type="text" name="" id="territories" onkeyup="get_track(this.id);">  <br> Territories  </th>
							<th>  Exclusive  </th>
							<th>  Wholesale Price  </th>
							<th>  Download </th>
							<th>  Sales Start Date </th>
		
		
							<th>  Sales End Date </th>
							<th>  Error  </th>
							<th>  Processed Day  </th>
							<th> Last Updated </th>
		
		
						</tr>
					  </thead>
				</table>
			</div>
		  </div>

		  <div id="search-results">

		  </div>
 
	 </div>

	  <div class="card mb-3">

        <div class="card-header">
		  <i class="fa fa-table"></i> Track Table  <br>
		  <strong><i> To edit any record, double click on the field. It will change to an input field. Make changes and punch Enter button to effect changes  </i></strong>
		  <hr>
		  <a type="button" class="btn btn-primary float-left" data-toggle="modal" data-target="#addTrackRecord" > Add Track </a>
		  <div style="padding-left: 2%;" class="float-right">
			<a  type="button" href="{% url 'core:export_track_xls' %}" class="btn btn-primary"  > Export Data </a>
		 </div>	

			<a type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#tracksearchModal" > Filter </a> 
			
			
		
		</div>
		
		
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
              <thead>
                <tr>
					<th id="col_display_upc_head" > 
						Display UPC</th>
					<th id="col_volume_no_head">  Volumne No </th>
					<th id="col_track_no_head">  Track No </th> 
					<th id="col_hidden_track_head">  Hidden Track  </th>
					<th id="col_title_head"> Title  </th>
					<th id="col_song_version_head">  Song Version </th>

					<th id="col_genre_head">  Genre </th>
					<th id="col_isrc_head">  ISRC </th>
					<th id="col_track_duration_head">  Track Duration </th> 
					<th id="col_preview_clip_start_time_head">  Preview Clip Start Time </th>
					<th id="preview_clip_duration_head">  Preview Clip Duration  </th>
					<th id="col_p_line_head">  P LINE </th>

					<th id="col_recording_artist_head">  Recording Artist </th>
					<th id="col_artist_head">  Artist </th>
					<th id="col_release_name_head">  Release Name </th>
					<th id="col_parental_advisory_head">  Parental Advisory  </th>
					<th id="col_label_name_head">  Label Name </th>
					<th id="col_producer_head">  Producer </th>
					<th id="col_publisher_head">  Publisher   </th>

					<th id="col_writer_head">   Writer  </th>
					<th id="col_arranger_head"> Arranger  </th>
					<th id="col_territories_head">  Territories  </th>
					<th id="col_exclusive_head">  Exclusive  </th>
					<th id="col_wholesale_price_head">  Wholesale Price  </th>
					<th id="col_download_head">  Download </th>
					<th id="col_sales_start_date_head">  Sales Start Date </th>


					<th id="col_sales_end_date_head">  Sales End Date </th>
					<th id="col_error_head">  Error  </th>
					<th id="col_processed_day_head">  Processed Day  </th>
					<th id="col_updated_time_head"> Last Updated </th>


                </tr>
			  </thead>
                <tbody>
				  {% for item in page_obj %}
                <tr>
					<td class="col_display_upc">{{item.display_upc}}</td>
					<td class="col_volume_no editable" data-id="{{ item.id }}" data-type="volume_no">{{item.volume_no}}</td>
					<td class="col_track_no editable" data-id="{{ item.id }}" data-type="track_no">{{item.track_no}}</td>
					<td class="col_hidden_track editable" data-id="{{ item.id }}" data-type="hidden_track">{{item.hidden_track}}</td>
					<td class="col_title editable" data-id="{{ item.id }}" data-type="title">{{item.title}}</td>
					<td class="col_song_version editable" data-id="{{ item.id }}" data-type="song_version">{{item.song_version}}</td>

					<td class="col_genre editable" data-id="{{ item.id }}" data-type="genre">{{item.genre}}</td>
					<td class="col_isrc">{{item.isrc}}</td>
					<td class="col_track_duration">{{item.track_duration}}</td>
					<td class="col_preview_clip_start_time">{{item.preview_clip_start_time}}</td>
					<td class="preview_clip_duration">{{item.preview_clip_duration}}</td>
					<td class="col_p_line editable" data-id="{{ item.id }}" data-type="p_line">{{item.p_line}}</td>
					<td class="col_recording_artist editable" data-id="{{ item.id }}" data-type="recording_artist">{{item.recording_artist}}</td>
					<td class="col_artist editable" data-id="{{ item.id }}" data-type="artist">{{item.artist}}</td>
					<td class="col_release_name editable" data-id="{{ item.id }}" data-type="release_name">{{item.release_name}}</td>
					<td class="col_parental_advisory editable" data-id="{{ item.id }}" data-type="parental_advisory">{{item.parental_advisory}}</td>
					<td class="col_label_name editable" data-id="{{ item.id }}" data-type="label_name">{{item.label_name}}</td>
					<td class="col_producer editable" data-id="{{ item.id }}" data-type="producer">{{item.producer}}</td>
					<td class="col_publisher editable" data-id="{{ item.id }}" data-type="publisher">{{item.publisher}}</td>
					<td class="col_writer editable" data-id="{{ item.id }}" data-type="writer">{{item.writer}}</td>
					<td class="col_arranger editable" data-id="{{ item.id }}" data-type="arranger">{{item.arranger}}</td>
					<td class="col_territories editable" data-id="{{ item.id }}" data-type="territories">{{item.territories}}</td>
					<td class="col_exclusive editable" data-id="{{ item.id }}" data-type="exclusive">{{item.exclusive}}</td>
					<td class="col_wholesale_price editable" data-id="{{ item.id }}" data-type="wholesale_price">{{item.wholesale_price}}</td>
					<td class="col_download editable" data-id="{{ item.id }}" data-type="download">{{item.download}}</td>
					<td class="col_sales_start_date">{{item.sales_start_date}}</td>
					<td class="col_sales_end_date">{{item.sales_end_date}}</td>
					<td class="col_error">{{item.error}}</td>
					<td class="col_processed_day">{{item.processed_day}}</td>
					<td class="col_updated_time">{{item.updated_time}}</td>
				</tr>
				{% endfor %}
                
                
              </tbody>
            </table>
          </div>
		</div>
		


        <!-- <div class="card-footer text-muted">
			<ul class="pagination pagination-sm float-right">
				{% if page_obj.has_previous %}
				<li class="page-item"><a class="page-link" href="?page=1">1</a></li>
				<li class="page-item">
					<a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
				</li>
				{% endif %}
				
				<li class="page-item">
					<strong>
						<a class="page-link"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a>
					</strong>
					
				</li>

				{% if page_obj.has_next %}
				<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
				<li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
				{% endif %}
				
			</ul>
		</div> -->


	  </div>	
	  </div>
	  <!-- /.container-fluid-->
   	</div>
     
{%  endblock %}

	<!-- /.container-wrapper-->
	

{% block search_modal %}
<div class="modal fade" id="tracksearchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">
		Select Columns that you want to hide  </h5>
		  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">×</span>
		  </button>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_display_upc" onchange="hide_show_table(this.id);" >Display UPC</label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_volume_no" onchange="hide_show_table(this.id);">Volumne No</label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_track_no" onchange="hide_show_table(this.id);" >Track No</label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_hidden_track" onchange="hide_show_table(this.id);">Hidden Track </label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_title" onchange="hide_show_table(this.id);">Title</label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_song_version" onchange="hide_show_table(this.id);" >Song Version </label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_genre" onchange="hide_show_table(this.id);" >Genre </label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_isrc" onchange="hide_show_table(this.id);">ISRC</label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_track_duration" onchange="hide_show_table(this.id);" >Track Duration</label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_preview_clip_start_time" onchange="hide_show_table(this.id);">Preview Clip Start Time</label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="preview_clip_duration" onchange="hide_show_table(this.id);" >Preview Clip Duration</label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_p_line" onchange="hide_show_table(this.id);">P LINE </label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_recording_artist" onchange="hide_show_table(this.id);" >Recording Artist</label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_artist" onchange="hide_show_table(this.id);">Artist</label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_release_name" onchange="hide_show_table(this.id);" >Release Name </label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_parental_advisory" onchange="hide_show_table(this.id);">Parental Advisory</label>
					</div>
					
				</div>

				<div class="col-md-6">
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_label_name" onchange="hide_show_table(this.id);">Label Name</label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_producer" onchange="hide_show_table(this.id);">Producer</label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_publisher" onchange="hide_show_table(this.id);">Publisher </label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_writer" onchange="hide_show_table(this.id);">Writer </label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_arranger" onchange="hide_show_table(this.id);">Arranger</label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_territories" onchange="hide_show_table(this.id);" >Territories </label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_exclusive" onchange="hide_show_table(this.id);">Exclusive </label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_wholesale_price" onchange="hide_show_table(this.id);">Wholesale Price</label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_download" onchange="hide_show_table(this.id);">Download </label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_sales_start_date" onchange="hide_show_table(this.id);">Sales Start Date </label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_sales_end_date" onchange="hide_show_table(this.id);">Sales End Date  </label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_error" onchange="hide_show_table(this.id);">Error</label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_processed_day" onchange="hide_show_table(this.id);" >Processed Day </label>
					</div>
					<div class="form-group radio_input">
						<label><input type="checkbox" value="hide" id="col_updated_time" onchange="hide_show_table(this.id);">Last Updated </label>
					</div>
				
				</div>
			</div>
		</div>

		<div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Save</button>
          </div>
		
	  </div>
	</div>
  </div>
{% endblock %}


{% block addRecord_modal %}
<div class="modal fade" id="addTrackRecord" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">
		Add New Track Record  </h5>
		  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">×</span>
		  </button>
		</div>
		<div class="modal-body">
			
			 <form method="POST" >
				{% csrf_token %}
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Display UPC</label>
							{{form.display_upc}}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Volume No </label>
							{{form.volume_no}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Track No</label>
							{{form.track_no}}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Hidden Track ?</label>
							{{form.hidden_track}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Title</label>
							{{form.title}}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Song Version</label>
							{{form.song_version}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Genre</label>
							{{form.genre}}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>ISRC</label>
							{{form.isrc}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Track Duration</label>
							{{form.track_duration}}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Preview Clip Start Time</label>
							{{form.preview_clip_start_time}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Preview Clip Duration</label>
							{{form.preview_clip_duration}}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>P_LINE</label>
							{{form.p_line}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Recording Artist</label>
							{{form.recording_artist}}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Artist</label>
							{{form.artist}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Release Name</label>
							{{form.release_name}}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Parental Advisory</label>
							{{form.parental_advisory}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Label Name</label>
							{{form.label_name}}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Producer</label>
							{{form.producer}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Publisher</label>
							{{form.publisher}}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Writer</label>
							{{form.writer}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Arranger</label>
							{{form.arranger}}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Territories</label>
							{{form.territories}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Exclusive</label>
							{{form.exclusive}}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Wholesale Price</label>
							{{form.wholesale_price}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Download</label>
							{{form.download}}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Sales Start Date </label>
							{{form.sales_start_date}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Sales End Date </label>
							{{form.sales_end_date}}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Error</label>
							{{form.error}}
						</div>
					</div>
				</div>
				
				<button class="btn btn-secondary" type="submit" >Save</button>
				
			 </form>
			
		</div>

		<!-- <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Save</button>
          </div> -->
		
	  </div>
	</div>
  </div>
{% endblock %}

{% block extra_script %}

<script src="{% static 'vendor/dropzone.min.js' %}"></script> 
<script src="{% static 'vendor/bootstrap-datepicker.js' %}"></script> 
<script>$('input.date-pick').datepicker();</script>



<script>
function get_track(id_name) {

		$.ajax({
			type: "GET",
			url: "{% url 'core:search_track' %}",
			data: {
				'display_upc': $('#display_upc').val(),
				'title': $('#title').val(),
				'genre': $('#genre').val(),
				'isrc': $('#isrc').val(),
				'p_line': $('#p_line').val(),
				'recording_artist': $('#recording_artist').val(),
				'artist': $('#artist').val(),
				'release_name': $('#release_name').val(),
				'label_name': $('#label_name').val(),
				'producer': $('#producer').val(),
				'publisher': $('#publisher').val(),
				'writer': $('#writer').val(),
				'arranger': $('#arranger').val(),
				'territories': $('#territories').val(),
				'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
			},
			success: searchSuccess,
			dataType: 'html'
		});
	};


function searchSuccess(data, textStatus, jqXHR)
{
$('#search-results').html(data)
}



function hide_show_table(col_name)
{
 var checkbox_val=document.getElementById(col_name).value;
 if(checkbox_val=="hide")
 {
  var all_col=document.getElementsByClassName(col_name);
  for(var i=0;i<all_col.length;i++)
  {
   all_col[i].style.display="none";
  }
  document.getElementById(col_name+"_head").style.display="none";
  document.getElementById(col_name).value="show";
 }
	
 else
 {
  var all_col=document.getElementsByClassName(col_name);
  for(var i=0;i<all_col.length;i++)
  {
   all_col[i].style.display="table-cell";
  }
  document.getElementById(col_name+"_head").style.display="table-cell";
  document.getElementById(col_name).value="hide";
 }
}

</script>

<script>
	$(document).ready(function(){
		$(document).on("dblclick",".editable",function(){
			var value=$(this).text();
			var data_type=$(this).data("type");
			var input_type="text";
			if(data_type=="created_at")
			{
				input_type="datetime-local";
			}
			var input="<input type='"+input_type+"' class='input-data' value='"+value+"' class='form-control'>";
			$(this).html(input);
			$(this).removeClass("editable")
		});

		$(document).on("blur",".input-data",function(){
			var value=$(this).val();
			var td=$(this).parent("td");
			$(this).remove();
			td.html(value);
			td.addClass("editable");
			var type=td.data("type");
			sendToServer(td.data("id"),value,type);
		});
		$(document).on("keypress",".input-data",function(e){
			var key=e.which;
			if(key==13){
				var value=$(this).val();
				var td=$(this).parent("td");
				$(this).remove();
				td.html(value);
				td.addClass("editable");
			   var type=td.data("type");
			   sendToServer(td.data("id"),value,type);
			}
		});

		function sendToServer(id,value,type){
			console.log(id);
			console.log(value);
			console.log(type);
			$.ajax({
				url:"{% url 'core:update_track' %}",
				type:"POST",
				data:{id:id,type:type,value:value, 'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()},
			})
			.done(function(response){
				console.log(response);
			})
			.fail(function(){
			   console.log("Error Occured");
			});

		}
	});
</script>
<script src="{% static 'js/admin-datatables.js' %}"></script> 

{% endblock %}
   
